.playerInfo{
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.playerInfo {
	color: rgba(125, 125, 125, .8);
}
.playerInfo ._face {
	width: 7.8rem;
	height: 7.8rem;
	background: #eee;
	position: relative;
}

.playerInfo ._face:after {
	content: '';
	position: absolute;
	left: 8px;
    top: 0;
    width: 8.4631rem;
    height: 7.5789rem;
	background: url(../img/artist.png) no-repeat center center;
	z-index: -1;
}
.playerInfo ._name{
	font-size: 18px;
	line-height: 2.5;
	width: 60%;
	display: inline-block;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.playerInfo ._artist{
	font-size: 14px;
	width: 60%;
	display: inline-block;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}